<% edit = nil if local_assigns[:edit].nil? %>
<%= form_for @something, :html => {:multipart => true} do |f| %>
  <% if @something.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@something.errors.count, "error") %> prohibited this something from being saved:</h2>

      <ul>
      <% @something.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="inputs">
    <%#= f.label :email %>
    <%#= f.text_field :email %>
    <%#= f.label :description %>
    <%#= f.text_area :description %>
    <% if edit %>
      <%= f.label :something, 'Choose an image to replace' %>:
    <% else %>
      <%= f.label :something, 'Choose an image' %>:
    <% end %>
    <br><%= f.file_field :something %>
    <div id="imageError" class="error"><br><span></span></div>
    <br><br>
    <%= f.label :title, 'This is a picture of' %>:
    <br><%= f.text_field :title, :class => 'text' %>
    <br><span class="example">e.g. cars, a banana split, canoeing</span>
    <div id="titleError" class="error"><br><span></span></div>
    <br><br>
    <%= f.label :name, 'What\'s your name? (optional)' %>
    <br><%= f.text_field :name, :class => 'text' %>
    <% unless edit %>
      <br>
      <br>
      <div class="floatClear">Pick your shoelace:</div>
      <div id="shoelaceForm">
        <% (1..4).to_a.each do |number| %>
          <label>
            <%= f.radio_button 'shoelace', number %>
            <%= image_tag "shoelaces/thumbs/#{number}.png", :class => 'shoelaceThumb', :id => "shoelaceThumb#{number}" %>
          </label>
        <% end %>
      </div>
      <div id="shoelaceError" class="error"><br><span></span></div>
      <br>
    <% end %>
  </div>
  <div class="actions">
    <a href="#" class="button formSubmit">Create Your Shoelace</a>
    <%= link_to 'Cancel', somethings_path, :class => 'cancel' %>
    <%= f.submit :style => 'display: none' %>
  </div>
<% end %>
