<div class="break">
  <br><%= link_to 'Just Shoe It', new_something_path, :class => 'button' %>
</div>
<div id="somethings">
  <% @somethings.each do |something| %>
    <div class="somethingWrapper">
      <h2>Shoelaces For <%= something.title %></h2>
      <div class="thumb">
        <%= image_tag something.something.url %>
      </div>
      <div class="controls">
        <%= link_to 'Bigger', something %>
        <%# show the edit and delete links if you made it %>
        <% if something.ip_address == request.remote_ip %>
          &nbsp;|&nbsp;<%= link_to 'Edit', edit_something_path(something) %>&nbsp;|&nbsp;<a href="#" class="delete" data-id="<%= something.id %>">Delete</a>
        <% end %>
        &nbsp;|&nbsp;by <%= something.name ? something.name : 'anon' %>
      </div>
    </div>
  <% end %>
</div>
<div class="break">
  &copy; <%= Date.today.year %> Reducify
</div>