<div id="show">
  <p id="notice"><%= notice %></p>
  <h1>Shoelaces For <%= @something.title %></h1>
  <div class="controls">
    <%= link_to 'Edit', edit_something_path(@something) %>&nbsp;|&nbsp;<%= link_to 'Back', somethings_path %>
  </div>
  <div class="outer">
    <%= image_tag @something.something.url, :class => 'inner' %>
  </div>
</div>