<div id="show">
  <h1>Shoelaces For <%= @something.title %></h1>
  <div class="controls">
    <%# show the edit link only if you made it (ie, if the ips match) %>
    <% if @something.ip_address == request.remote_ip %>
      <%= link_to 'Edit', edit_something_path(@something) %>&nbsp;|&nbsp;
    <% end %>
    <%= link_to 'Back', somethings_path %>
    &nbsp;|&nbsp;by <%= @something.name? ? @something.name : 'anon' %>
  </div>
  <div class="outer">
    <%= image_tag @something.something.url, :class => 'inner' %>
  </div>
</div>
