<!DOCTYPE html>
<html>
  <head>
      <title>Shoelaces For Everything - Tying It All Up!</title>
      <link rel='stylesheet/less' href='/stylesheets/style.less' type='text/css' />
      <script src='/javascripts/less.min.js'></script>
      <script type='text/javascript' charset='utf-8'>
          less.env = 'development';
          less.watch();
      </script>
      <%= background %>
      <%= javascript_include_tag :defaults %>   
      <%= javascript_include_tag 'plupload.full.min.js' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="bodyFlash"></div>
    <div id='flashNotice' style='display: none'><%= flash[:notice] if flash[:notice] %></div>
    <div id='flashError' style='display: none'><%= flash[:error] if flash[:error] %></div>
    <% flash[:error] = '' %>
    <% flash[:notice] = '' %>
    <div class="centered">
      <div id="bg">
        <div id="logo" class="outer">
          <%= image_tag 'logo2.png', :class => 'inner' %>
        </div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
